.btn-warning {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }

.btn-warning:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-default {
    color: white;
    background: #dc3545;
    border-color: #dc3545;  
}

.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 1.3rem;    // initialement c'etait 0.3rem 
  }

  #slidetop {
	display: block;
	color:#888;
	font-size:13px;
	background-color: black;
	z-index: 1500;
	position: absolute;
	top: 0; right: 0; left:0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.tp-bullets.preview1 {
    height: 90px;
}

.tparrows.preview1 {
    width: 100px;
    height: 100px;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    background: #dc3545;
}

.tp-bullets.preview1 .bullet:hover, .tp-bullets.preview1 .bullet.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: white !important;
    width: 10px !important;
    height: 10px !important;
    border: 10px solid blue !important;
}


#logo {
    border: 4px solid #dc3545;
    height: 125px;
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
}

#slogan {
    height: 100px;
    font-style: oblique;
}

#elevator {
    height: 500px;    
}


.img-fluid {
    width: 80%;
    height: auto;
}

.btn-outline-warning{
    color: #ffffff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0.5rem;
}




#topMain{
    transition: all 1s;
}





.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 250px;
    width: 900px;
    padding: 10% 3% 10%;
}



.slide {
    width: 100%;
    background-color:lightgrey;
    padding: 5% 35% 5% 35%;
    border-radius: 15rem 15rem 55rem 55rem;
}


.item {
    font-size: 20px;
    font-style: italic;
    color: black;
    text-align: center;
}

.item img {
    width: 400px;
}

.glyphicon-chevron-left:before {
    content: "\e071";
    color: orange;
}

.glyphicon-chevron-right:before {
    content: "\e075";
    color: orange;
}

.carousel-control.left {
    right: auto;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    background-color: indigo;
    border-radius: 60rem 60rem 60rem 60rem;

    
}

.carousel-control.right {
    right: 0;
    left: auto;
    width: 60px;
    height: 60px;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
    background-color:  indigo;
    border-radius: 60rem 60rem 60rem 60rem;
}    



.carousel-control:focus, .carousel-control:hover {
    color: indigo;
    text-decoration: none;
    outline: 0;
    filter: alpha(opacity=90);
    opacity: .1;
}


#topMain.nav-pills>li.active>a {
    color: orange;
}


